WORDPRESS_USERNAME=admin
WORDPRESS_PASSWORD=supersecret
WORDPRESS_EMAIL=admin@example.com
WORDPRESS_DB_NAME=wordpress_db
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=securepass
MARIADB_ROOT_PASSWORD=rootpass
