# WordPress Application Settings
WORDPRESS_USERNAME=admin
WORDPRESS_PASSWORD=supersecret
WORDPRESS_EMAIL=admin@example.com

# WordPress Database Settings (used by both WP and MariaDB)
WORDPRESS_DB_NAME=wordpress_db
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=securepass
WORDPRESS_DB_HOST=db:3306

# MariaDB Root Password
MARIADB_ROOT_PASSWORD=rootpass
